.card{
    padding: 1em;
}

.heading
{
    font-size: 2em;
    font-weight: 700;
    color: var(--color-white);
}
.cardContent{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color:  #626262;
}
.card-bg-dark{
    background-color:#626262;
}
